@import "./../../../assets/styles/mixins";

.vsa-item__trigger {
  @include reset-button;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 auto;

  color: var(--vsa-text-color);
  transition: 0.2s all linear;
  padding: var(--vsa-heading-padding);

  &:focus {
    outline: none;
    background-color: var(--vsa-highlight-color);
    color: var(--vsa-bg-color);
  }

  &:hover {
    outline: none;
    background-color: var(--vsa-highlight-color);
    color: var(--vsa-bg-color);
  }
}